.list-item-container{
	position:relative;
}

.row.category-dropdown-toggle{
	margin-top:-40px;
	padding:0px;
}

.list-title{
	font-family:lato;
	font-size:1.2em;
	font-weight:bold;
	text-transform: capitalize;
	border-bottom:1px solid rgba(0,0,0,.45);
	padding:0px !important;
}

.editable{
	margin:0px !important;
	padding:0px !important;
	font-family:lato;
	width:100% !important;
	text-transform:capitalize;
}

.editable-description{
	font-size:1.1em;
	text-align:left;
	margin-top:20px !important;
	text-transform: none !important;
	height:160px;
}

.item-image{
	height:160px;
	padding:10px;
}

.submit-btn, .cancel-btn{
	display:none;
}

.action-btn-holder{
	position:absolute;
	top:5px;
	right:0px;
	display:none;
}

.action-btn{
	height:30px;
	margin-right:10px;
}

.item_addition {
	height: 50px;
	border-radius: 50%;
	position: fixed;
	top: 220px;
	right: 30px;
	z-index: 1;
}

.item-category-section{
	display:none;
}

/*Styles for small screens*/
@media(max-width:768px) {
	.modal {
		padding: 0px !important;
		margin: 0px !important;
		width: 100% !important;
	}
}

.modal {
	width: 25% !important;
}

.modal-header {
	font-family: lato;
	text-transform: capitalize;
	font-size: 1.5em;
	margin: 0px !important;
}

.addition-label {
	text-transform: capitalize !important;
}

.category-heading{
	font-family:lato;
	font-size:2em;
	font-weight:bold;
}