nav{
	position:fixed;
	top:0px;
	left:0px;
	z-index:5;
}

#application_area
{
	margin-top:80px;
}

.brand {
	font-family: lato;
	font-size: .9em;
	text-transform: capitalize;
	margin-left: 10px !important;
}

.menu-item {
	font-family: lato;
	text-transform: capitalize;
}

.admin-greeting {
	font-family: lato;
	font-size: 2em;
	text-transform: capitalize;
}

.card-images {
	height: 200px;
	margin-top: 20px;
}

.description {
	font-family: lato;
	font-size: 1.2em;
	width: 80%;
	margin-left: 10% !important;
}

.card-title {
	border-bottom: 1px solid black;
}

.credits {
	font-family: lato;
	font-size: 1em;
	text-transform: capitalize;
	color: white;
	margin: 0px;
}

.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 25%;
	height: 25px;
}

.view-heading{
	font-family:lato;
	font-size:1.6em;
	color:rgba(0,0,0,.8);
}

.return-button-container
{
	position:absolute;
	top:10px;
	right:30px;
}

.return-button{
	height:40px;
}

.collapsible-body{
	position:relative;
}

.borrower-image
{
	margin-top:20px;
	height:150px;
}

.items-taken{
	font-family:lato;
	font-weight: bold;
	text-align:center;
	display:inline-block;
	border-radius:50%;
	padding:0px !important;
	height:25px;
	width:25px;
	border:2px solid red;
	background-color:rgba(255,0,0,.5);
	color:white;
	margin:2px 5px 0px 0px !important;
}

.item_list_container{
	margin-top:30px;
}

.return_field[type="checkbox"].filled-in:checked + label:after{
	border: 2px solid red !important;
	background-color: rgba(255,0,0,.5) !important;
}

.return_form_field{
	margin:5px 0px 0px 0px !important;
	padding:0px !important;
}

.return_label{
	color:rgba(0,0,0,.75);
}

.custm-btn{
	margin-top:30px;
}